@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

nav, main, footer, header, aside, section {
  display: block;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  width: 57%;
  margin: 0 auto;
}

.header__row-middle .contacts button, .sale__button {
  width: 170px;
  padding: 12px 26px;
  background: #FFFFFF;
  border: 2px solid #66c05d;
  border-radius: 40px;
}

.header__menu-top {
  background: #EFEFEF;
}
.header__menu-top .menu-list {
  max-width: 447px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__menu-top .menu-list .menu__item {
  font-weight: normal;
  line-height: 16px;
  color: #333333;
}

.header__row-middle {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__row-middle .container__logo {
  display: flex;
  align-items: center;
}
.header__row-middle .container__logo .container__logo__img {
  width: 80px;
  height: 80px;
}
.header__row-middle .container__logo h1 {
  color: #66c05d;
  font-size: 36px;
  margin-left: 20px;
}
.header__row-middle .contacts {
  width: 337px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__row-middle .contacts a {
  font-size: 16px;
}

.header__menu-bottom {
  border-top: 1px solid #EFEFEF;
}
.header__menu-bottom .menu-list {
  max-width: 675px;
  height: 79px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__menu-bottom .menu-list .menu__item {
  font-weight: normal;
  line-height: 16px;
  color: #000000;
}

.sale {
  height: 605px;
  background: #66c05d;
  position: relative;
}
.sale .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.sale__container {
  height: 220px;
  width: 308px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.sale__title {
  font-size: 45px;
  color: #FFFFFF;
}

.sale__text {
  font-size: 14px;
  color: #FFFFFF;
}

.sale__button {
  background: #66c05d;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.ellipse1 {
  width: 859px;
  height: 859px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 725px;
  top: -117px;
}

.ellipse2 {
  width: 584px;
  height: 584px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 863px;
  top: 20px;
}

.armchair {
  width: 584;
  height: 584px;
  position: absolute;
  left: 863px;
  top: 20px;
}

.goods {
  background-color: #EFEFEF;
  height: 954px;
  padding: 80px 0 133px 0;
}

.specials {
  position: relative;
}
.specials .specials__delivery {
  position: absolute;
  right: 25px;
  top: -20px;
}
.specials .specials__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 38px;
}
.specials .specials__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.specials .specials__item {
  width: 255px;
  height: 363px;
  padding: 25px 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.specials .specials__item__img {
  width: 125px;
  height: 166px;
}
.specials .specials__item__text {
  font-size: 14px;
  text-align: center;
}
.specials .specials__item__price {
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}
.specials .specials__item__button {
  width: 130px;
  height: 35px;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  background: #66C05D;
  border-radius: 30px;
}

.others {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.subscribe, .shops {
  width: 540px;
  height: 212px;
  background: #66c05d;
  color: #FFFFFF;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 45px 35px 40px;
}

.subscribe__form {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe__title {
  font-style: 18px;
}

input {
  width: 225px;
  height: 35px;
  border-radius: 30px;
}

input::placeholder {
  text-align: center;
}

.shops {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 325px 35px 40px;
}
.shops button {
  width: 170px;
  height: 35px;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background: #66c05d;
  color: #FFFFFF;
}

.shops__title {
  font-style: 18px;
}

/*# sourceMappingURL=main.css.map */
