@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter&display=swap');

$grayColor: #EFEFEF;

$accentColor: #66c05d;

$darkColor: #333333;



* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  // width: 57%;
  width: 1110px;
  margin: 0 auto;
}

%bigButton {
  width: 170px;
  padding: 12px 26px;
  background: #FFFFFF;
  border: 2px solid $accentColor;
  border-radius: 40px;
}

@media (max-width: 1120px) {
  .wrapper {
  width: 920px;
}
}
