.sale {
  height: 605px;
  background: $accentColor;
  position: relative;
  overflow: hidden;
  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.sale__container {
  height: 220px;
  width: 308px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:space-between;
}
.sale__title {
  font-size: 45px;
  color: #FFFFFF;
}
.sale__text {
  font-size: 14px;
  color: #FFFFFF;
}
.sale__button {
  @extend %bigButton;
  background: $accentColor;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;

}
.ellipse1 {
  width: 859px;
  height: 859px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 336px;
  top: -117px;
}
.ellipse2 {
  width: 677px;
  height: 677px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 427px;
  top: -37px;
}

.armchair {
width: 584;
height: 584px;
position: absolute;
right: 473px;
top: 20px;
}

@media (max-width: 1200px) {
  .ellipse1 {
    right: 36px;
  }
  .ellipse2 { 
    right: 127px;
  }
  
  .armchair {
  right: 173px;

  }
}

